<div class="container py-5 border border-1 mt-5">
  <h1>LPIC-1 LCE APP</h1>
  <p class="mt-2">In welchem Modus möchten Sie lernen?</p>
  <div class="mt-3">
    <button class="btn-primary btn-lg">Learn-Modus</button>
    <button class="btn-primary btn-lg ml-5">Check-Modus</button>
    <button class="btn-primary btn-lg ml-5">Exam-Modus</button>
  </div>

  <p>Welche LPIC-Fragen würden Sie gerne lernen?</p>
  <button class="btn-primary btn-lg" routerLink="/check-m">LPIC-1 101</button>
  <button class="btn-primary btn-lg ml-5">LPIC-1 102</button>
</div>
